.card{
  border-width: $border-width-thick;
  border-radius: $border-width-none;
  border-color: $color-neutral-dark;
  padding: $spacing-inset-lg;
  background-color: $color-neutral-lightest;
  border-style: solid;
  width: 300px;
  box-sizing: border-box;
}
