<div class="content">
  <ds-heading size="lg" spacingStack="xxs" >Heading LG</ds-heading>
  <ds-heading size="md" spacingStack="xxs" >Heading MD</ds-heading>
  <ds-heading size="sm" spacingStack="xxs" >Heading SM</ds-heading>
  <ds-heading size="xs" spacingStack="xxs" >Heading XS</ds-heading>

  <ds-subtitle spacingStack="xs" >Subtitle SM</ds-subtitle>


  <ds-paragraph spacingStack="md" >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </ds-paragraph>

  <ds-button spacingStack="md" >Button Label</ds-button>

  <ds-card>
    <ds-heading size="sm" spacingStack="xxs" >Heading SM</ds-heading>
    <ds-subtitle spacingStack="xs" >Subtitle SM</ds-subtitle>
    <ds-paragraph spacingStack="md" >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </ds-paragraph>
    <ds-button>Button Label</ds-button>
  </ds-card>
</div>
